[submodule "common"]
	path = common
	url = https://github.com/osuvortex/common
[submodule "pp/catch_the_pp"]
        path = pp/catch_the_pp
        url = https://zxq.co/ripple/catch-the-pp.git
[submodule "pp/oppai_ng"]
	path = pp/oppai_ng
	url = https://github.com/osuvortex/oppai-ng-python
[submodule "secret"]
	path = secret
	url = https://github.com/osuvortex/secret
